---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Repertoire from '../components/Repertoire.astro';
import Medias from '../components/Medias.astro';
import ContactForm from '../components/ContactForm.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <About />
    <Repertoire />
    <Medias />
    <ContactForm />
  </main>
  <Footer />
</Layout>
